/*#region Whole Site*/

* {
    margin: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-areas: 'top-bar' 'content';
    grid-template-rows: auto 1fr;
    background-color: rgb(100, 100, 100);
}

#content {
    grid-area: content;
    overflow-y: hidden;
}

/*#region Top Bar*/

#top-bar {
    grid-area: top-bar;
    display: inline-flex;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 30px #777;
    background-color: rgb(65, 65, 65);
}

#top-bar .item {
    padding: 12px 0 0 12px;
    margin-left: 20px;
    border-left: solid 1px #929292;
    min-width: 120px;
}

#page-lbl {
    font-size: 42px;
    padding: 6px 0 0 12px;
    color: #FFF;
    margin-left: 12px;
    border-left: solid 1px #929292;
    min-width: 120px;
}

#market-status, #market-indicator {
    color:#CCC;
}

#market-indicator .info-icon {
    color: rgb(218, 218, 218);
    border-radius: 50%;
    font-size: 11px;
    padding: 2px 7px 1px 6px;
    margin-left: 5px;
    background-color: #005ba5;
}

#market-indicator .progress-bar-container {
    height: 2px;
    width: 120px;
    background-color: #747474;
    margin-top: 3px;
}

#market-indicator .progress-bar {
    height: 2px;
    background-color: #005ba5;
}

#top-bar .item.sign-out.disabled {
    float: right;
    padding-top: 22px;
    cursor: pointer;
    color: #637d91;
}

/*#region Menu*/

#menu-btn {
    height: 68px;
    width: 56px;
    transform: rotate(90deg);
    cursor: pointer;
    margin-top: -10px
}

#menu-btn > span {
    padding-left: 16px;
    font-size: 45px;
    color: #CCC;
}

#menu {
    margin-top: -1px;
    position: absolute;
    background-color: rgb(65, 65, 65);
    color: #CCC;
    border-top: dotted 1px #929292;
}

.menu-item {
    cursor: pointer;
    border-bottom: dotted 1px #929292;
    font-size: 24px;
    padding: 10px;
}

.menu-item.selected {
    cursor: default;
    color: #747474;
}

#menu .sign-out {
    font-size: 16px;
    cursor: pointer;
    color: #3596df;
    margin-top: 20px;
    margin-left: 20px;
}

/*#endregion*/

/*#endregion*/

/*#region Common*/

.hide {
    display: none;
}

#loader {
    width: 200px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 17px;
    text-align: center;
    line-height: 1.6em;
    font-weight: bold;
    color: #333;
    border-radius: 12px;
    border: solid 1px #353535;
}

.under-construction {
    cursor: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    width: 240;
    margin: auto;
    margin-top: 160px;
    text-align: center;
    border-top: dashed 10px black;
    border-bottom: dashed 10px black;
    padding: 10px 0 0 0;
    font-size: 30px;
    color: #222;
    background: rgb(219, 233, 21);
    letter-spacing: .05em;
    font-weight: bolder;
    box-shadow: 0 0 12px #000;
}

/*#endregion*/

/*#endregion*/

/*#region Page Specific*/

/*#region Page Home*/

.page-home {
    display: flex;
    justify-content: center;
    height: 100%;
}

.page-home .sign-in {
    display: flex;
    align-items: center;
    height: 240px;
    margin-top: 120px;
}

.page-home .sign-in fieldset {
    font-size: 20px;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.page-home .sign-in legend {
    text-align: center;
    color: #DDD;
    padding: 0 20px;
    height: 15px;
    line-height: 0;
}

.page-home .sign-in .msg {
    padding: 0 0 4px 6px;
    font-size: 12px;
    color: #DDD;
}

.page-home .sign-in input:focus-visible {
    outline: 0;
    background-color: #e2f2ff;
}

.page-home .sign-in input {
    border-width: 0;
    border-radius: 3px;
    font-size: 20px;
    padding: 10px;
}

.page-home .sign-in label {
    border-radius: 6px;
    background-color: #1a711a;
    padding: 11px;
    margin-left: 4px;
    color: #DDD;
    border: solid 1px #035203;
    cursor: pointer;
}

.page-home .sign-in #validation {
    color: #980000;
    height: 10px;
    padding-top: 4px;
    padding-left: 6px;
    font-size: 17px;
}

/*#endregion*/

/*#region Page Pool*/

@media(max-width:800px)
{
    .page-pool {
        width: 100%;
    }
}
@media(min-width:801px) and (max-width:1280px)
{
    .page-pool {
        width: 75%
    }
}
@media(min-width:1281px)
{
    .page-pool {
        width: 50%;
    }
}

.page-pool {
    overflow-y: hidden;
    margin: auto;
    background-color: #DDD;
    padding: 0 12px 0 0;
}

.page-pool .controls {
    height: 55px;
    display: inline-flex;
    width: 100%
}

.page-pool .controls .control {
    width: 33%;
    margin: 10px 0 0 10px;
}

.page-pool .controls .control label {
    display: block;
    text-align: center;
}

.page-pool .controls .control select {
    width: 100%;
    text-align: center;
}

.page-pool .controls .control input {
    width: 100%;
}

.page-pool .controls .control .button {
    width: 100%;
    height: 38px;
    border-radius: 20px;
    font-size: 32px;
    cursor: pointer;
    color: #111;
    text-align: center;
    background-color: #f05e39;
}

.page-pool .controls .control .button.disabled {
    cursor: default;
    color: #555;
    background-color: #CCC;
}

.page-pool .list {
    margin-left: 10px;
    min-width: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page-pool .list-item {
    display: inline-flex;
    width: 100%;
    overflow-x: hidden;
    height: 30px;
}

.page-pool .list-item * {
    margin-top: 6px;
}

.page-pool .list-item:nth-child(odd) {
    background-color: rgba(256,256,256,.2);
}

.page-pool .list-item .chk-box {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: solid 1px #a8a8a8;
    border-radius: 3px;
}

.page-pool .list-item .chk-box.checked {
    background-color: #006ec9;
    border: solid 1px #006ec9;
}

.page-pool .list-item .symbol {
    width: 60px;
    margin-left: 8px;
}

/*#endregion*/

/*#region Page Advisor*/

@media(max-width:800px)
{
    .page-advisor {
        width: 100%;
    }
}

@media(min-width:801px) and (max-width:1280px)
{
    .page-advisor {
        width: 75%
    }
}

@media(min-width:1281px)
{
    .page-advisor {
        width: 75%;
        /* overflow-x: hidden; */
    }
}

.page-advisor {
    display: grid;
    grid-template-areas: 'controls controls' 'snapshots advice';
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr;
    /* overflow-y: hidden; */
    margin: auto;
    background-color: #DDD;
}

/*#region Controls*/

.page-advisor .controls {
    grid-area: controls;
    display: inline-flex;
    padding: 10px;
    /* width: 100% */
}

.page-advisor .controls .nav {
    margin-left: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #4d4d4d99;
    display: inline-flex;
}

.page-advisor .controls .btn {
    width: 50px;
    text-align: center;
    line-height: 1.7em;
    margin: 0 0 0 5px;
    font-weight: 700;
    background: linear-gradient(#fff 60%,#eee 10%);
    border-left: solid 1px #a0a0a099;
    border-right: solid 1px #a0a0a099;
    border-radius: 3px;
    padding: 0 2px;
    cursor: pointer;
}

.page-advisor .controls .lbl {
    line-height: 1.9em;
}

.page-advisor .controls .btn.disabled {
    cursor: default;
}

.page-advisor .controls .chev {
    font-size: 35px;
    color: rgb(230, 230, 230);
    text-shadow: 0 1px 0 rgb(175, 175, 175);
}

.page-advisor .controls .txt {
    position: relative;
    top: -27px;
    font-size: 10px;
    z-index: 2;
}

.page-advisor .controls .btn.disabled .txt  {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgb(0, 0, 0);
}

/*#endregion*/

/*#region Snapshots*/

.page-advisor .snapshots {
    grid-area: snapshots;
    display: grid;
    grid-template-areas: 'header' 'list';
    grid-template-rows: 40px 1fr;
    padding: 0 10px
    /* width: 50%; */
}

.page-advisor .snapshots .header {
    grid-area: header;
    display: grid;
    text-align: center;
    grid-template-columns: 60px 120px 120px 120px 75px;
    border-bottom: solid 1px black;
}

.page-advisor .snapshots .header .col {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.page-advisor .snapshots .header .col div {
    border-radius: 5px;
    background-color: #f5f5f5;
    margin: 0 2px;
    padding: 2px 0;
    font-size: 12px;
}

/* .page-advisor .snapshots .header .col:nth-child(even) {
    background-color: rgba(0,0,255,.3);
} */

.page-advisor .snapshots .list {
    grid-area: list;
    /* display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 15px;
    border-bottom: solid 1px black; */
}

.page-advisor .snapshots .list .item {
    display: grid;
    padding: 2px 0;
    grid-template-columns: 60px 120px 120px 120px 75px;
    border-bottom: dotted 1px rgb(216, 216, 216);
}

.page-advisor .snapshots .list .item:nth-child(even) {
    background-color: #f5f5f5;
}

.page-advisor .snapshots .list .item .symbol {
    text-align: left;
    padding-left: 10px;
}

.page-advisor .snapshots .list .item .price {
    text-align: right;
    padding-right: 10px;
}

/*#endregion*/

/*#region Advice*/

.page-advisor .advice {
    grid-area: advice;
    display: grid;
    grid-template-areas: 'header' 'list';
    grid-template-rows: 40px 1fr;
    padding: 0 10px
}

.page-advisor .advice .header {
    grid-area: header;
    display: grid;
    text-align: center;
    grid-template-columns: 100px 100px 100px;
    border-bottom: solid 1px black;
}

.page-advisor .advice .header .col {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.page-advisor .advice .header .col div {
    border-radius: 5px;
    background-color: #f5f5f5;
    margin: 0 2px;
    padding: 2px 0;
    font-size: 12px;
}

.page-advisor .advice .list {
    grid-area: list;
    /* display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 15px;
    border-bottom: solid 1px black; */
}

.page-advisor .advice .list .item {
    display: grid;
    padding: 2px 0;
    grid-template-columns: 100px 100px 100px;
    border-bottom: dotted 1px rgb(216, 216, 216);
}

.page-advisor .advice .list .item:nth-child(odd) {
    background-color: #f5f5f5;
}

.page-advisor .advice .list .item .symbol {
    text-align: left;
    padding-left: 10px;
}

.page-advisor .advice .list .item .rank {
    text-align: center;
    padding-right: 10px;
}

.page-advisor .advice .list .item .diff {
    text-align: right;
    padding-right: 10px;
}

/*#endregion*/

/*#endregion*/

/*#endregion*/
