/*#region Whole Site*/

* {
    margin: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-areas: 'header' 'content';
    grid-template-rows: 63px auto;
    background-color: #CCC;
}

#content {
    grid-area: content;
}

/*#endregion*/

/*#region Common*/

.hide {
    display: none;
}

/*#endregion*/

/*#region Header*/

#header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto;
    max-height: 40px;
    background: rgb(64,64,64);   
    border-bottom: solid 3px black;
    padding: 10px 20px;
}

#header > .home-btn {
    display: grid;
    grid-template-columns: auto auto;
    cursor: default;
}

#header > .home-btn > .logo {
    height: 42px;
}

#header > .home-btn > .app-name {
    color: #DDD;
    text-shadow: -1px 2px 0 #000000bf;
    margin: auto 0;
    letter-spacing: .05em;
    font-weight: bolder;
    font-size: 44px;
    text-align: left;
    white-space: nowrap;
    padding-left: 4px;
}

#funtility {
    margin-top: 12px;
}

/*#endregion*/

/*#region Page Home*/

.login-notice {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 115px;
    width: 240;
    margin: auto;
    margin-top: 160px;
    text-align: center;
    border: solid 2px rgba(0,0,0,0.3);
    border-bottom: solid 3px black;
    border-radius: 6px;
    padding: 10px 0 0 0;
    font-size: 44px;
    color: #DDD;
    background: rgb(64,64,64); 
    text-shadow: -1px 2px 0 #000000bf;
    letter-spacing: .05em;
    font-weight: bolder;
}

/*#endregion*/


/*#region Page Specific*/


/*#endregion*/
